/* I use Colorzilla to generate my gradients due to lengthy vendor prefixes */

nav {
  height: 57px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,4f4f4f+0,121212+100 */
  background: rgb(240,249,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(79,79,79,1) 0%, rgba(18,18,18,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(79,79,79,1) 0%,rgba(18,18,18,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(79,79,79,1) 0%,rgba(18,18,18,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#121212',GradientType=0 ); /* IE6-9 */
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #F6F6F6;
}

button {
  cursor: pointer;
  cursor: hand;
}

h3 {
  font-weight: normal;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

.noOutline {
  outline: none;
}

.max-width {
  width: 895px;
}

/*dddddddd
HHHHHHHHH   HHHHHHHHH                                                  d::::::d
H:::::::H   H:::::::H                                                  d::::::d
H:::::::H   H:::::::H                                                  d::::::d
HH::::::H   H::::::HH                                                  d:::::d
 H:::::H     H:::::H      eeeeeeeeeeee      aaaaaaaaaaaaa       ddddddddd:::::d     eeeeeeeeeeee    rrrrr   rrrrrrrrr
 H:::::H     H:::::H    ee::::::::::::ee    a::::::::::::a    dd::::::::::::::d   ee::::::::::::ee  r::::rrr:::::::::r
 H::::::HHHHH::::::H   e::::::eeeee:::::ee  aaaaaaaaa:::::a  d::::::::::::::::d  e::::::eeeee:::::eer:::::::::::::::::r
 H:::::::::::::::::H  e::::::e     e:::::e           a::::a d:::::::ddddd:::::d e::::::e     e:::::err::::::rrrrr::::::r
 H:::::::::::::::::H  e:::::::eeeee::::::e    aaaaaaa:::::a d::::::d    d:::::d e:::::::eeeee::::::e r:::::r     r:::::r
 H::::::HHHHH::::::H  e:::::::::::::::::e   aa::::::::::::a d:::::d     d:::::d e:::::::::::::::::e  r:::::r     rrrrrrr
 H:::::H     H:::::H  e::::::eeeeeeeeeee   a::::aaaa::::::a d:::::d     d:::::d e::::::eeeeeeeeeee   r:::::r
 H:::::H     H:::::H  e:::::::e           a::::a    a:::::a d:::::d     d:::::d e:::::::e            r:::::r
HH::::::H     H::::::HHe::::::::e          a::::a    a:::::a d::::::ddddd::::::dde::::::::e           r:::::r
H:::::::H     H:::::::H e::::::::eeeeeeee  a:::::aaaa::::::a  d:::::::::::::::::d e::::::::eeeeeeee   r:::::r
H:::::::H     H:::::::H  ee:::::::::::::e   a::::::::::aa:::a  d:::::::::ddd::::d  ee:::::::::::::e   r:::::r
HHHHHHHHH     HHHHHHHHH    eeeeeeeeeeeeee    aaaaaaaaaa  aaaa   ddddddddd   ddddd    eeeeeeeeeeeeee   rrrrrrr       */


/* FIXME This boxshadow does not work, only 1 pixel shows up */
header {
  box-shadow: 0 5px 10px #DEDDDD;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-container a:hover, .nav-container .menu-btn:hover {
  color: #EDC82C;
}

/* The font used for the logo costs $45, so using the entire logo png instead, so it's more visually similair*/
.logo {
  height: 27px;
  width: auto;
  margin-right: 26px;
}

.nav-container ul {
  display: flex;
  align-items: center;
  transition: max-height .2s ease-out;
}

.nav-container li {
  margin-right: 40px;
  font-size: 15px;
  text-transform: uppercase;
}














/* Mobile Hamburger menu */
.nav-container .menu-icon {
  cursor: pointer;
  cursor: hand;
  display: none;
  padding: 28px 14px 28px 15px;
  margin-left: 7px;
  position: relative;
}

.nav-container .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.nav-container .menu-icon .navicon:before,
.nav-container .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.nav-container .menu-btn {
  display: none;
}

.nav-container .menu-icon .navicon:before {
  top: 5px;
}

.nav-container .menu-icon .navicon:after {
  top: -5px;
}


.nav-container .menu-btn:checked ~ .menu {
  max-height: 240px;
  /*height: 240px;*/
  overflow: visible;
}

.nav-container .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.nav-container .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.nav-container .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.nav-container .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav-container .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}




.user {
  display: flex;
  margin: 0 2px 0 auto;
  align-items: center;
}

a.userName:hover > i {
  color: #EDC82C;
}

.user img {
  display: flex;
  height: 47px;
  border: 0;
  border-radius: 25px;
  align-items: center;
  margin-right: 7px;
}

.userName > i {
  margin-left: 10px;
  font-size: 20px;
  color: #A8A8A8;
}

.quoteContainer {
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

.quoteContainer h1 {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 2.06vw;
}

/*dddddddd
LLLLLLLLLLL                                                             d::::::d  iiii
L:::::::::L                                                             d::::::d i::::i
L:::::::::L                                                             d::::::d  iiii
LL:::::::LL                                                             d:::::d
L:::::L                 aaaaaaaaaaaaa   nnnn  nnnnnnnn        ddddddddd:::::d iiiiiii nnnn  nnnnnnnn       ggggggggg   ggggg
L:::::L                 a::::::::::::a  n:::nn::::::::nn    dd::::::::::::::d i:::::i n:::nn::::::::nn    g:::::::::ggg::::g
L:::::L                 aaaaaaaaa:::::a n::::::::::::::nn  d::::::::::::::::d  i::::i n::::::::::::::nn  g:::::::::::::::::g
L:::::L                          a::::a nn:::::::::::::::nd:::::::ddddd:::::d  i::::i nn:::::::::::::::ng::::::ggggg::::::gg
L:::::L                   aaaaaaa:::::a   n:::::nnnn:::::nd::::::d    d:::::d  i::::i   n:::::nnnn:::::ng:::::g     g:::::g
L:::::L                 aa::::::::::::a   n::::n    n::::nd:::::d     d:::::d  i::::i   n::::n    n::::ng:::::g     g:::::g
L:::::L                a::::aaaa::::::a   n::::n    n::::nd:::::d     d:::::d  i::::i   n::::n    n::::ng:::::g     g:::::g
L:::::L         LLLLLLa::::a    a:::::a   n::::n    n::::nd:::::d     d:::::d  i::::i   n::::n    n::::ng::::::g    g:::::g
LL:::::::LLLLLLLLL:::::La::::a    a:::::a   n::::n    n::::nd::::::ddddd::::::ddi::::::i  n::::n    n::::ng:::::::ggggg:::::g
L::::::::::::::::::::::La:::::aaaa::::::a   n::::n    n::::n d:::::::::::::::::di::::::i  n::::n    n::::n g::::::::::::::::g
L::::::::::::::::::::::L a::::::::::aa:::a  n::::n    n::::n  d:::::::::ddd::::di::::::i  n::::n    n::::n  gg::::::::::::::g
LLLLLLLLLLLLLLLLLLLLLLLL  aaaaaaaaaa  aaaa  nnnnnn    nnnnnn   ddddddddd   dddddiiiiiiii  nnnnnn    nnnnnn    gggggggg::::::g
                                                                                                                      g:::::g
                                                                                                          gggggg      g:::::g
                                                                                                          g:::::gg   gg:::::g
                                                                                                           g::::::ggg:::::::g
                                                                                                            gg:::::::::::::g
                                                                                                              ggg::::::ggg
                                                                                                                 gggggg*/

.topSection{
  display: flex;
  justify-content: center;
  background: #F2F0EC;
  padding-top: 29px;
}

.topSection .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.top-container {
  display: flex;
  flex-wrap: wrap;
}

.featuredMob .imageContainer {
  background-image: url("images/u2_worldTour.jpg");
  color: #FFF;
  height: 380px;
  width: 589px;
  background-size: cover;
  position: relative;
}

.topBar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  height: 53px;
  justify-content: space-between;
  align-items: center;
}

.topBar h2 {
  font-weight: normal;
  margin-left: 17px;
}

.topBar p {
  margin-right: 20px;
  font-size: 14px;
}


.clock {
  color: #EDC82C;
  margin-right: 5px;
  font-size: 19px;
  vertical-align: middle;
}

.mobMessage {
  position: absolute;
  background-color: #EDC82C;
  height: 30px;
  width: 133px;
  bottom: -15px;
  left: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  text-transform: uppercase;
  z-index: 2;
  border-bottom: 1px solid #DAA621;
}

.mobMessage::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0;
  /* Giving it a hight allows for a small box above the triangle */
  height: 2px;
  /* This creates half 90 degree triangle */
  border-style: solid;
  border-width: 0 6px 6px 0;
  border-color: transparent #EDC82C transparent transparent;
}

.featuredMob .footer {
  display: flex;
  background: #D0CDC7;
  color: #404141;
  /*height: 78px;*/
  width: 589px;
  z-index: 1;
  align-items: center;
  padding: 21px 22px;
  box-sizing: border-box;
}

.disclaimer {
  display: flex;
  color: #A1A09F;
  font-size: 12px;
  padding: 0 25px;
  margin: 9px 0 24px 0;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 21px;
  flex: 1;
}

.join-share {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*TODO This is not pixel perfect, margin doesn't work here*/
.counters {
  display: flex;
  margin-bottom: 24px;
}

.mobbers-current {
  margin-right: 19px;
}

.mobbers-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 112px;
  background: #D0CDC7;
  color: #FFF;
  font-size: 70px;
  margin: 0px 1px 0 0;
}

.mobbers-counter-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 132px;
  background: #B5ADA4;
  color: #444444;
  text-shadow: 0px 1px #C6C1BA;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 -2px 0 0;
}


.yellowButton {
  display: flex;
  justify-content: center;
  color: #FFF;
  font-size: 23px;
  width: 100%;
  height: 59px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fee151+0,e8a526+100 */
  background: rgb(254,225,81); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(254,225,81,1) 0%, rgba(232,165,38,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(254,225,81,1) 0%,rgba(232,165,38,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(254,225,81,1) 0%,rgba(232,165,38,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee151', endColorstr='#e8a526',GradientType=0 ); /* IE6-9 */
  padding: 0;
  border: 1px solid #D19B30;
  border-radius: 5px;
  outline: 0;
}

.yellowButton:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8a526+0,996c1a+100 */
  background: rgb(232,165,38); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(232,165,38,1) 0%, rgba(153,108,26,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(232,165,38,1) 0%,rgba(153,108,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(232,165,38,1) 0%,rgba(153,108,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8a526', endColorstr='#996c1a',GradientType=0 ); /* IE6-9 */
  border: 1px solid #7F5815;
}


.reward-container {
  display: flex;
  align-self: center;
  background: #FFF;
  width: 96%;
  height: 71px;
  border-right: 1px solid #C2C2C2;
  border-bottom: 1px solid #C2C2C2;
  border-left: 1px solid #C2C2C2;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: inset 0 -3px #E8E8E8;
}

.reward-container > img {
  width: auto;
  height: 53px;
  margin: 8px 0 0 6px;

}

.reward-container .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}

.right .disclaimer {
  text-align: center;
  margin: 13px 0 18px 0;
  padding: 0 15px 16px 0;
  font-size: 11px;
  border-bottom: 1px solid #C7C7C5;
}

.share-links {
  display: flex;
  width: 100%;
  align-items: center;
}

.share-links > button {
  margin-right: 5px;
  height: 23px;
  width: 52px;
  font-size: 10px;
  border-radius: 2px;
}

.tweet {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #B4D4E6;
  color: #407A97;
  font-weight: 600;
  font-family: "Helvetica Neue", sans-serif;
  text-shadow: 0px 0.5px 0.2px #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f9fb+48,d5e6f2+100 */
  background: rgb(244,249,251); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(244,249,251,1) 48%, rgba(213,230,242,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(244,249,251,1) 48%,rgba(213,230,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(244,249,251,1) 48%,rgba(213,230,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f9fb', endColorstr='#d5e6f2',GradientType=0 ); /* IE6-9 */

}

.tweet > img {
  height: 10px;
  margin-right: 3px;
}

.tweet:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f9fb+48,77bfef+100 */
  background: rgb(244,249,251); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(244,249,251,1) 48%, rgba(119,191,239,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(244,249,251,1) 48%,rgba(119,191,239,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(244,249,251,1) 48%,rgba(119,191,239,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f9fb', endColorstr='#77bfef',GradientType=0 ); /* IE6-9 */
}

.share-links > .share {
  display: flex;
  align-items: center;
  font-size: 10px;
  background: #ECEEF4;
  border: 1px solid #D1D9E8;
  color: #6077AA;
  width: 55px;
}

.share > img {
  height: 13px;
}

.share-links > .share:hover {
  background: #d3d7e4;
}

.share-links > .gPlus {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5px 1px 0;
  font-size: 14px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,f2f0ec+0,e4e4e4+100 */
  background: rgb(240,249,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(242,240,236,1) 0%, rgba(228,228,228,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(242,240,236,1) 0%,rgba(228,228,228,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(242,240,236,1) 0%,rgba(228,228,228,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
  border: 1px solid #B1B1B1;
  color: #D85841;
  width: 35px;
  position: relative;
  overflow: hidden;
}

.gPlus > img {
  height: 21px;
  position: absolute;
  bottom: -3px;
  left: -3px;
}

.gPlus:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,e5e3e0+0,cccccc+100 */
  background: rgb(240,249,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(229,227,224,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(229,227,224,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(229,227,224,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.link {
  font-size: 12px;
  color: #599FBE;
}

.link > i {
  color: #5B5B5A;
  margin: 0 5px 0 3px;
  font-size: 15px;
  vertical-align: middle;
}

.link:hover {
  text-decoration: underline;
}


                                            /*iiii
                                           i::::i
                                            iiii

mmmmmmm    mmmmmmm     aaaaaaaaaaaaa      iiiiiii  nnnn  nnnnnnnn
mm:::::::m  m:::::::mm   a::::::::::::a   i:::::i  n:::nn::::::::nn
m::::::::::mm::::::::::m  aaaaaaaaa:::::a  i::::i  n::::::::::::::nn
m::::::::::::::::::::::m           a::::a  i::::i  nn:::::::::::::::n
m:::::mmm::::::mmm:::::m    aaaaaaa:::::a  i::::i   n:::::nnnn:::::n
m::::m   m::::m   m::::m  aa::::::::::::a  i::::i   n::::n    n::::n
m::::m   m::::m   m::::m a::::aaaa::::::a  i::::i   n::::n    n::::n
m::::m   m::::m   m::::ma::::a    a:::::a  i::::i   n::::n    n::::n
m::::m   m::::m   m::::ma::::a    a:::::a i::::::i  n::::n    n::::n
m::::m   m::::m   m::::ma:::::aaaa::::::a i::::::i  n::::n    n::::n
m::::m   m::::m   m::::m a::::::::::aa:::ai::::::i  n::::n    n::::n
mmmmmm   mmmmmm   mmmmmm  aaaaaaaaaa  aaaaiiiiiiii  nnnnnn    nnnnnn*/

.bottomSection {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomSection .column-3 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #C7C7C5;
  padding-bottom: 33px;
}


.column-3 .imageContainer {
  width: 284px;
  height: 184px;
  overflow: hidden;
}

.imageContainer-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  color: #484848;
}

.imageContainer-footer > p {
  font-size: 12px;
}

.imageContainer-footer i {
  margin-right: 0;
}


.description > p {
  font-size: 10px;
}

.description > h5 {
  max-width: 215px;
  margin-bottom: 2px;
}


.column-3 .description {
  display: flex;
  flex-direction: column;
}

.column-3 .description > p {
  color: #9D9D9D;
}



.bottomSection {
  display: flex;
}

.bottomSection .left {
  margin-top: 14px;
}

.bottomSection .right {
  margin-top: 20px;
}

.column-2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.upComingMobs {
  width: 586px;
}

.upComingMobs > h2 {
  margin-bottom: 22px;
}

.upComingMobs li {
  display: flex;
  color: #414141;
  font-size: 13px;
  border-bottom: 1px solid #CBCBCB;
  padding: 10.5px 0;
}

.upComingMobs ul > li > p:first-child {
  width: 40.5%;
  font-weight: 600;
  float: left;
}

.upComingMobs ul > li > p:last-child {
  text-align: right;
  flex-grow: 1;
}




.startYourOwnMob {
  display: flex;
  align-items: center;
  background-color: #D0CDC7;
  height: 199px;
  margin-left: 23px;
}

.startYourOwnMob > h2 {
  margin-top: 18px;
  color: #fff;
}

.steps-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 7px;
  position: relative;
}

.steps-bar {
  align-self: center;
  width: 75%;
  height: 7px;
  top: 14px;
  left: 31px;
  background: #BDBBB5;
  position: absolute;
  z-index: 0;
}

.step {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  z-index: 1;
}

.step > p {
  font-size: 12px;
  position: relative;
  top: 3px;
}

.rounded-step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d5d5d5+0,f9f9f9+100 */
  background: rgb(213,213,213); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(213,213,213,1) 0%, rgba(249,249,249,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(213,213,213,1) 0%,rgba(249,249,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(213,213,213,1) 0%,rgba(249,249,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5d5', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
  border: 1px solid #AFADAA;
  border-radius: 50%;
  box-shadow: inset 0px 2px #F0F0F0, inset 0px -2px #D9D8D8;
}

.startYourOwnMob button {
  width: 93%;
  margin: 11px 0;
  padding: 16px 0;
  color: #1780AD;
  font-size: 22px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,f0efef+0,d1cec8+100 */
  background: rgb(240,249,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(240,239,239,1) 0%, rgba(209,206,200,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(240,239,239,1) 0%,rgba(209,206,200,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(240,239,239,1) 0%,rgba(209,206,200,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#d1cec8',GradientType=0 ); /* IE6-9 */
  border: 1px solid #95928E;
  border-radius: 5px;
  outline: none;
}

.startYourOwnMob button:hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,e5e5e5+0,b2b0ab+100 */
  background: rgb(240,249,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(229,229,229,1) 0%, rgba(178,176,171,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(229,229,229,1) 0%,rgba(178,176,171,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(229,229,229,1) 0%,rgba(178,176,171,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#b2b0ab',GradientType=0 ); /* IE6-9 */

}

/*
FFFFFFFFFFFFFFFFFFFFFF                                           tttt
F::::::::::::::::::::F                                        ttt:::t
F::::::::::::::::::::F                                        t:::::t
FF::::::FFFFFFFFF::::F                                        t:::::t
  F:::::F       FFFFFF   ooooooooooo      ooooooooooo   ttttttt:::::ttttttt        eeeeeeeeeeee    rrrrr   rrrrrrrrr
  F:::::F              oo:::::::::::oo  oo:::::::::::oo t:::::::::::::::::t      ee::::::::::::ee  r::::rrr:::::::::r
  F::::::FFFFFFFFFF   o:::::::::::::::oo:::::::::::::::ot:::::::::::::::::t     e::::::eeeee:::::eer:::::::::::::::::r
  F:::::::::::::::F   o:::::ooooo:::::oo:::::ooooo:::::otttttt:::::::tttttt    e::::::e     e:::::err::::::rrrrr::::::r
  F:::::::::::::::F   o::::o     o::::oo::::o     o::::o      t:::::t          e:::::::eeeee::::::e r:::::r     r:::::r
  F::::::FFFFFFFFFF   o::::o     o::::oo::::o     o::::o      t:::::t          e:::::::::::::::::e  r:::::r     rrrrrrr
  F:::::F             o::::o     o::::oo::::o     o::::o      t:::::t          e::::::eeeeeeeeeee   r:::::r
  F:::::F             o::::o     o::::oo::::o     o::::o      t:::::t    tttttte:::::::e            r:::::r
FF:::::::FF           o:::::ooooo:::::oo:::::ooooo:::::o      t::::::tttt:::::te::::::::e           r:::::r
F::::::::FF           o:::::::::::::::oo:::::::::::::::o      tt::::::::::::::t e::::::::eeeeeeee   r:::::r
F::::::::FF            oo:::::::::::oo  oo:::::::::::oo         tt:::::::::::tt  ee:::::::::::::e   r:::::r
FFFFFFFFFFF              ooooooooooo      ooooooooooo             ttttttttttt      eeeeeeeeeeeeee   rrrrrrr           */


footer {
  margin-top: 55px;
  background: #545252;
  display: flex;
  justify-content: center;
  color: #fff;
}

footer .column-3 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.mobCategories {
  max-width: 35%;
}

.mobCategories > h3 {
  margin: 4px 0 13px 0;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
}

.category {
  background: #636362;
  border: 1px solid #3E3D3D;
  border-radius: 5px;
  color: #fff;
  width: 133px;
  padding: 10px 0;
  margin: 0 21px 10px 0;
  box-shadow: inset 0px 1px #828281;
  outline: 0;
  font-size: 13px;
}

.category:hover {
  background: #EDC82C;
  box-shadow: inset 0px 1px #fbe37c;
}

.connectWithMobber {
  display: flex;
  flex-direction: column;
  padding-left: 68px;
}

.connectWithMobber > h3 {
  margin: 4px 0 13px 0;
}

.connectWithMobber > p {
  font-size: 11px;
}

.emailForm {
  margin: 20px 0 15px 0;
  /* This fixes the whitspace between inline elements */
  font-size: 0;
}

.emailForm > input[type="text"] {
  border: 0 solid;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  width: 143px;
  padding: 14px 12px;
  outline: 0;
  font-size: 12px;
  box-shadow: inset 0 4px 4px -2px #808080;
}
/* Placeholder styles */
::-webkit-input-placeholder { color:#919191; font-size: 12px; }
::-moz-placeholder { color:#919191; font-size: 12px; } /* firefox 19+ */
:-ms-input-placeholder { color:#919191; font-size: 12px; } /* ie */
input:-moz-placeholder { color:#919191; font-size: 12px; }

.emailForm > button {
  background-color: #9D9D9D;
  border: 0 solid;
  color: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 42px;
  width: 41px;
  outline: none;
  font-size: 22px;
  vertical-align: bottom;
  /* The shadow design actually have bleeding shadows on the edges, but it was killing my OCD so I fixed it. */
  box-shadow: inset 0 4px 4px -2px #808080;
}

.emailForm > button:hover {
  background-color: #EDC82C;
}

.footer-share-links > li {
  padding: 5px 0;
  border-bottom: 1px solid #3D3D3D;
  color: #B7B6B6;
  font-size: 13px;
}

.footer-share-links > li > a:hover {
  color: #EDC82C;
}

.footer-share-links > li:last-child {
  padding: 5px 0;
  border: 0;
}

.footer-share-links > li:nth-child(2) {
  padding: 6px 0 5px 0;
}

.footer-share-links span:first-child {
  font-size: 12px;
}

.footer-share-links > li > a > span {
  margin-right: 5px;
}

.social-media-icon {
  color: #545252;
  position: absolute;
  bottom: -5px;
  font-size: 20px;
}



.howItWorks {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 68px;
}

.howItWorks .yellowButton {
  align-self: flex-end;
  margin: 0 0 24px 0;
  height: 48px;
  width: 210px;
  font-size: 17px;
}

.howItWorks h4 {
  margin: 0 0 14px 2px;
}

.howItWorks p {
  color: #D9D9D9;
  font-size: 12px;
  margin-left: 2px;
}

.howItWorks .category {
  margin: 12px 2px;
}

.howItWorks .legal {
  margin-top: 19px;
  padding-top: 7px;
  border-top: 1px solid #3D3D3D;
  font-size: 13px;
}

/* Mobile Nav */
@media screen and (max-width: 630px) {
  .logo {
    margin-left: calc(50% - 47px);
    margin-right: 0;
    transform: translateX(-50%);
  }
  .userName {
    display: none;
  }
  .nav-container .menu-icon {
    display: inline-block;
    order: -1;
  }
  .menu {
    background-color: rgba(79,79,79,1);
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .menu > li {
    padding: 20px;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    background-color: rgba(79,79,79,1);
  }
  .nav-container {
    z-index: 1;
  }
  .quoteContainer > h1 {
    font-size: 3vw;
  }
  .topSection .left {
    width: 100%;
  }
  .topSection .imageContainer {
    width: 100%;
  }
  .featuredMob .footer {
    width: 100%
  }

}

@media screen and (max-width: 490px) {
  .user {
    display: none;
  }
}

@media screen and (max-width: 910px) {
  .topSection .right {
    flex-direction: row;
  }
  .top-container {
    justify-content: center;
  }
  .bottomSection .column-3 {
    justify-content: flex-start;
  }
}
